{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/codemirror.min.css" />
</head>

<style>
  .underlined {
    position: relative;
    text-decoration: none;
  }

  .underlined::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: red;
    z-index: 1;
    text-decoration: none;
    pointer-events: none;
  }

  /* .colored {
    color: red;
  } */

</style>

<body>
  <form method="post" id="runcode">
    {% csrf_token %}
    <select id="language">
      <option value="python">Python</option>
      <option value="c">C</option>
      <option value="cpp">C++</option>
      <option value="javascript">JavaScript</option>
    </select>
    <textarea id="editor"></textarea>
    <button type="submit" onclick="runCode()" class="bg-blue-500 text-white font-bold py-2 px-4 rounded mt-4 hover:bg-blue-700">Run</button>

    <p class="block text-gray-700 font-bold mb-2 mt-6">Console output:</p>
    <div class="boder border-gray-400" id="console"></div>
    <div id="output"></div>
  </form>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/codemirror.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/mode/python/python.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/mode/javascript/javascript.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/addon/hint/show-hint.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/addon/hint/python-hint.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/addon/hint/javascript-hint.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/mode/clike/clike.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/mode/cmake/cmake.js"></script>


  <!-- LINT https://github.com/codemirror/codemirror5/blob/master/demo/lint.html
  <script src={% static '/addon/lint/lint.js' %} defer></script>
  <script src={% static '/addon/lint/javascript-lint.js' %} defer></script>
  <script src="https://unpkg.com/jshint@2.13.2/dist/jshint.js"></script>
  <link rel="stylesheet" href= {% static '/addon/lint/lint.css' %} />
  <link rel="stylesheet" href= {% static '/lib/codemirror.css' %} /> -->


  <script>
    let lang_dic = {
        python: `print("hello world")`,
        "c++": `#include <iostream>
    using namespace std;

    int main() {
      cout << "Hello World!";
      return 0;
    }`,
        c: `#include <stdio.h>

    int main() {
      printf("Hello World!");
      return 0;
    }`,
        javascript: `console.log("hello world");`,
        dart: `void main(){
      print("Hello World");
    }`,
      };


    var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
      mode: "text/x-python",
      lineNumbers: true,
      gutters: ["CodeMirror-lint-markers"],
      lint: true,
      extraKeys: { "Ctrl-Space": "autocomplete" },
    });


    // track when the text of the CodeMirror editor changes. For linting. 
    editor.on("change", function() {
      // console.log('Text changed:', editor.getValue());

      var langSelect = document.getElementById("language").value;

      let regex;
      switch (langSelect) {
        case "python":
          regex = /deff|forr|printt/gi;
          break;
        case "c":
          regex = /intt|returnn/gi;
          break;
        case "cpp":
          regex = /intt|usingg/gi;
          break;
        case "javascript":
          regex = /logg|consolee/gi;
          break;
        default: // python
          regex = /deff|forr|printt/gi;
          break;
      }

      // const regexColor = /((|))|;;/gi; // Tried but the app just hangs.
      
      const text = editor.getValue();
      regex.global = true; // this enables ALL instance of regex to be flagged. 
      
      const underlinedText = text.replace(regex, "<u>$&</u>");
      // console.log('underlinedText:', underlinedText);

      // Clear existing marks
      editor.getAllMarks().forEach(function(mark) {
        mark.clear();
      });
      
      // Add new marks for underlined text
      editor.getDoc().eachLine(function(line) {
        const lineText = line.text;
        
        // syntax errors
        let match; 
        while (match = regex.exec(lineText)) { // Loop through all matches
          const start = match.index;
          const end = start + match[0].length;
          const mark = editor.getDoc().markText(
            { line: line.lineNo(), ch: start },
            { line: line.lineNo(), ch: end },
            { className: "underlined" }
          );
        }

        // // brackets matching
        // let matchColor;
        // while (matchColor = regexColor.exec(lineText)) { // Loop through all matches
        //   const start = matchColor.index;
        //   const end = start + matchColor[0].length;
        //   const mark = editor.getDoc().markText(
        //     { line: line.lineNo(), ch: start },
        //     { line: line.lineNo(), ch: end },
        //     { className: "colored" }
        //   );
        // }

      });

    });

    // Get the language selector element
    var langSelect = document.getElementById("language");

    // Event listener for when the language is changed
    langSelect.addEventListener("change", function (event) {
      // Get the selected language
      var lang = event.target.value;

      // Set the CodeMirror mode based on the selected language
      switch (lang) {
        case "python":
          editor.setOption("mode", "text/x-python");
          editor.setValue(lang_dic["python"]);
          break;
        case "c":
          editor.setOption("mode", "text/x-csrc");
          editor.setValue(lang_dic["c"]);
          break;
        case "cpp":
          editor.setOption("mode", "text/x-c++src");
          editor.setValue(lang_dic["c++"]);
          break;
        case "javascript":
          editor.setOption("mode", "text/javascript");
          editor.setValue(lang_dic["javascript"]);
          break;
        default:
          editor.setOption("mode", "text/x-python");
          editor.setValue(lang_dic["python"]);
          break;
      }
    });


    function runCode() {
      event.preventDefault(); // prevent form submission
      var csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
      var language = $('#language').val();
      var code = editor.getValue();
      $.ajax({
        url: "/app/codeEditor2/run_code/",
        type: "POST",
        dataType: "json",
        data: { code: code, lang: language, csrfmiddlewaretoken: csrf_token },
        success: function (response) {
          if (response.success) {
            // Display the result in the #output div
            console.log(response.result)
            var result = response.result.replace(/\n/g, '<br>');
            $("#output").html(result);
          } else {
            var errorLines = response.error.split('\n');
            var errorHtml = errorLines.map(function (line) {
              return '<div>' + line + '</div>';
            }).join('');
            $("#output").html(errorHtml);
          }
        },
        error: function (xhr) {
          console.log(xhr.statusText);
        }
      });
    }

  </script>
</body>

</html>